{% extends "base.html" %}
{% load widget_tweaks %}

{% block extrahead %}
<style>
    .main-block {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }
    .formules-block {
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block content %}

<div class="main-block">
<form class="form-horizonatal" method="post" action="/" role="form">
  {% csrf_token %}
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$:</div>
      {% render_field expr_form.expression class+="form-control" placeholder="Expression..." %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary" style="float: right;">Go!</button>
</form>
    <div class="formules-block">
        {{ data | safe }}
    </div>
</div>
{% endblock %}