{% extends "base.html" %}
{% load widget_tweaks %}

{% block extrahead %}
<style>
    .main-block {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
    }
    .formules-block {
        margin-top: 10%;
    }
</style>
{% endblock %}

{% block content %}

<div class="main-block">
    <div class="help">
        {{ help | safe }}
    </div>
    <form class="form-horizonatal" method="post" action="/" role="form">
        {% csrf_token %}
        <div class="form-group">
            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
            <div class="input-group">
              <div class="input-group-addon">$:</div>
              {% render_field expr_form.expression class+="form-control" placeholder="Expression..." %}
            </div>
            </div>
        <div class="input-group" style="float: left;">
            <span class="input-group-addon" id="basic-addon1">From</span>
            {% render_field expr_form.from_ class+="form-control" placeholder="0" aria-describedby="basic-addon1" %}
            <span class="input-group-addon" id="basic-addon2">To</span>
            {% render_field expr_form.to_ class+="form-control" placeholder="1" aria-describedby="basic-addon1" %}
        </div>
        <button type="submit" class="btn btn-primary" style="float: right; margin-top: 2%">Go!</button>
    </form>
    <br><br>
    <div class="formules-block">
        {{ data | safe }}
        <br><br>
    <table class="table">
    <thead>
        <th>Метод</th>
        <th>Решение</th>
        <th>Время</th>
    </thead>
    <tbody>
        {% for i in solves %}
        <tr>
            <td>{{i.h}}</td>
            <td>{{i.x}}</td>
            <td>{{i.s}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>

</div>
{% endblock %}